body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f9fc;
}

h1, h2 {
  color: #2a2a2a;
}

section {
  padding: 2rem;
}


.primary {
  background-color: rgba(126, 111, 255, 1);
}

.text-c-primary {
  color: rgba(126, 111, 255, 1);
}

.tint-90 {
  background-color: rgb(29, 27, 53)
}

.text-c-tint-90 {
  color: rgb(29, 27, 53)
}

.tint-75 {
  background-color: rgba(146, 136, 255, 1)
}

.tint-50 {
  background-color: rgba(166, 161, 255, 1)
}

.tint-25 {
  background-color: rgba(186, 186, 255, 1)
}

.secondary-light {
  background-color: rgba(156, 139, 255, 1);
}

.secondary-dark {
  background-color: rgba(72, 62, 179, 1);
}

.shade-75 {
  background-color: rgba(101, 90, 204, 1)
}

.shade-50 {
  background-color: rgba(76, 68, 153, 1)
}

.shade-25 {
  background-color: rgba(51, 45, 102, 1)
}

.complementary-1 {
  background-color: rgba(255, 246, 111, 1)
}

.complementary-2 {
  background-color: rgba(255, 198, 111, 1)
}

.analog-1 {
  background-color: rgba(111, 161, 255, 1)
}

.analog-2 {
  background-color: rgba(198, 111, 255, 1)
}


.ternary-1 {
  background-color: rgba(111, 255, 198, 1)
}

.ternary-2 {
  background-color: rgba(255, 126, 111, 1)
}
