@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<hr />
<section>
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/equipos.jpg" width="100%" alt="Promoción" />
        </div>
        <div class="col-md-6">
            <h1 class="mb-4">Ya disponible!</h1>
            <p>Sabemos lo importante que es estar siempre conectado, <strong>sin importar a dónde vayas.</strong> </p>
            <p>Por eso, nuestra red ofrece una cobertura increíble que te acompaña incluso en las zonas de difícil
                acceso, como en carretera o en medio de la naturaleza.
                Nuestra red está diseñada para ofrecerte una experiencia de conexión fluida y confiable, ya sea que
                estés en casa, en la oficina o explorando el aire libre.</p>
            <p>
                Ya sea que estés de roadtrip, explorando nuevos destinos o trabajando en movimiento, puedes confiar en
                que nuestra señal te mantendrá cerca de lo que más importa.</p>
                <p>
                    <a href="/Reservations" class="btn btn-outline-secondary-dark mt-3">Reservar ahora</a>
                </p>
        </div>
    </div>
</section>